footer .footerUP {
  max-width: 1500px;
  margin: auto;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1150px) {
  footer .footerUP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .heroTxt {
  min-height: 50vh;
  margin: auto;
}
footer .heroTxt h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.75;
}
footer .heroTxt h1 .TM {
  font-size: 0.8rem;
  letter-spacing: 0px;
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
footer .heroTxt h1 .WATER {
  display: inline-block;
  -webkit-transform: rotatey(180deg) rotateX(180deg) translateX(-10px);
          transform: rotatey(180deg) rotateX(180deg) translateX(-10px);
  letter-spacing: -4.3px;
}
footer .heroTxt .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
footer .heroTxt .social img {
  width: 40px;
  margin-right: 20px;
}
footer .footerItems {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 1150px) {
  footer .footerItems {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  footer .footerItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .footerItems h4 {
  font-size: 1.7rem;
  padding-bottom: 15px;
}
footer .footerItems p {
  font-size: 1.2rem;
}
footer .footerItems ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footerItems ul li {
  text-align: right;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  footer .footerItems ul li {
    text-align: left;
  }
}
footer .footerItems a {
  text-decoration: none;
  position: relative;
}
footer .footerItems a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
footer .footerItems a:hover::before {
  width: 100%;
  left: 0;
}
footer .footerItems .signup {
  width: 100%;
  margin-bottom: 100px;
}
footer .footerItems .signup input {
  margin-top: 30px;
  width: 80%;
  border: none;
  padding: 5px 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-size: 1.4rem;
  opacity: 80%;
}
footer .footerItems .signup input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
footer .footerItems .signup input::-moz-placeholder {
  color: white;
  opacity: 1;
}
footer .footerItems .signup input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
footer .footerItems .signup input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}
footer .footerItems .signup input::placeholder {
  color: white;
  opacity: 1;
}
footer .footerItems .signup input:-ms-input-placeholder {
  color: white;
}
footer .footerItems .signup input::-ms-input-placeholder {
  color: white;
}
footer .footerItems .signup input:focus {
  outline: none;
}
footer .footerItems .signup button {
  color: #e55052;
  cursor: pointer;
  border-radius: 50px;
  width: 170px;
  height: 60px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footerItems .signup button:hover {
  background-color: #e55052;
  color: #fff;
}
footer .footerImg {
  background-color: aqua;
  height: 65vh;
  width: 100%;
  background: url(../../img/can-grid_v2.png);
  background-size: cover;
  background-repeat: no-repeat;
}