#R {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media only screen and (max-width: 600px) {
  #R {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-direction: column;
  }
}

.OneCart {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 600px) {
  .OneCart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.OneCart .OneCartTxt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.OneCart .OneCartTxt h3 {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 50px;
}
.OneCart .OneCartTxt p {
  font-weight: 400;
  font-size: 1.2rem;
}
.OneCart .OneCartTxt button {
  margin-bottom: 70px;
  cursor: pointer;
  border-radius: 50px;
  width: 170px;
  height: 60px;
  border: 1px solid;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.OneCart .OneCartTxt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.OneCart .OneCartTxt img {
  width: 89%;
}
.OneCart .ONIMg::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 30%;
  background-image: url(../../../img/FunnyWater_Bubble-04.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 70%;
}