nav {
  margin: auto;
  max-width: calc(1300px);
  .show {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .show {
      display: block;
      display: flex;
      justify-content: flex-end;
      padding-top: 7%;
      li {
        display: inline-block;
        z-index: 5;
        list-style: none;
        padding-right: 5%;
        button {
          background-color: transparent;
          border: none;
          width: 70px;
          img {
            width: 100%;
          }
          &:hover {
            opacity: 80%;
          }
        }
      }
    }
  }
  .navUL {
    display: flex;
    justify-content: flex-end;
    padding-top: 7%;
    // to REdo
    padding-right: 5%;
    font-size: 20px;
    font-weight: 500;
    transition: 0s all;

    @media only screen and (max-width: 600px) {
      position: fixed;
      font-weight: 400;
      top: 0;
      width: 110vw;
      height: 110vh;
      padding: 8%;
      padding-top: 15%;
      line-height: 0.5;
      flex-direction: column;
      background-color: #4ea54b;
      justify-content: flex-start;
      z-index: 3;
      font-size: 30px;
    }

    li {
      list-style: none;
      margin: 20px;
      a {
        @media only screen and (max-width: 600px) {
          width: 100%;
          display: inline-block;
        }
        position: relative;
        text-decoration: none;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -10px;
          width: 00%;
          height: 2px;
          background-color: white;
          transition: all 0.3s ease-out;
        }
        &:hover::before {
          width: 90%;
          left: 0;
        }
      }
    }
  }
}

// 960
// 600
// footer 500
