.Rec2 {
  position: absolute;
  z-index: -2;
  left: -500%;
  height: 30%;
  width: 1000%;
  background-color: #62b770;
  opacity: 90%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  box-shadow: 0px 0px 300px 300px #62b770;
  -webkit-box-shadow: 0px 0px 300px 300px #62b770;
  -moz-box-shadow: 0px 0px 300px 300px #62b770;
  -webkit-animation: upANDdown2 infinite 5s alternate ease-in-out;
          animation: upANDdown2 infinite 5s alternate ease-in-out;
}

@-webkit-keyframes upANDdown2 {
  from {
    top: 80%;
  }
  to {
    top: 120%;
  }
}

@keyframes upANDdown2 {
  from {
    top: 80%;
  }
  to {
    top: 120%;
  }
}