.merch {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
  .merchImg {
    position: relative;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 50%;
      top: -20%;
      left: 10%;
      background-image: url(../../img/FunnyWater_Bubble-07.png);
      background-size: contain;
      background-repeat: no-repeat;
      mix-blend-mode: overlay;
    }
    flex: 2.3;
    img {
      width: 100%;
    }
  }
  .merchTxt {
    position: relative;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      display: inline-block;
      height: 40%;
      width: 70%;
      top: 10%;
      right: 0;
      background-image: url(../../img/FunnyWater_Bubble-08.png);
      background-size: contain;
      background-repeat: no-repeat;
      mix-blend-mode: overlay;
    }

    padding: 5%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    h3 {
      font-size: 3rem;
      font-weight: 700;
      padding: 30px 0;
    }
    p {
      font-weight: 400;
      font-size: 1.5rem;
    }
    button {
      color: rgba(229, 80, 82, 1);
      cursor: pointer;
      border-radius: 50px;
      width: 170px;
      height: 60px;
      border: none;
      font-weight: 500;
      font-size: 18px;
      margin-top: 40px;
      transition: all 0.4s;
      &:hover {
        background-color: rgba(229, 80, 82, 1);
        color: #fff;
      }
    }
  }
}
