.section {
  margin: auto;
  max-width: 1500px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}
@media only screen and (max-width: 600px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section .sectionImg {
  padding-right: 30px;
  position: relative;
}
.section .sectionImg img {
  display: inline-block;
  width: 100%;
}
.section .sectionImg::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 30%;
  background-image: url(../../img/FunnyWater_Bubble-03.png);
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
.section .sectionTxt h3 {
  font-size: 2.3rem;
}
.section .sectionTxt p {
  font-size: 1.2rem;
}