* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  //
  background: rgb(233, 174, 108);
  background: linear-gradient(
    0deg,
    rgba(233, 174, 108, 1) 0%,
    rgba(240, 139, 98, 1) 70%,
    rgba(228, 76, 80, 1) 100%
  );
}
