* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background: #e9ae6c;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9ae6c), color-stop(70%, #f08b62), to(#e44c50));
  background: linear-gradient(0deg, #e9ae6c 0%, #f08b62 70%, #e44c50 100%);
}