* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Arimo", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}
// body {
//   background: rgb(240, 139, 98);
//   background: linear-gradient(
//     0deg,
//     rgba(240, 139, 98, 1) 31%,
//     rgba(228, 76, 80, 1) 100%
//   );
//   background-attachment: fixed; /*edit*/
// }

html {
  // height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  //
  background: rgb(233, 174, 108);
  background: linear-gradient(
    0deg,
    rgba(233, 174, 108, 1) 0%,
    rgba(240, 139, 98, 1) 32%,
    rgba(228, 76, 80, 1) 100%
  );
}
